.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: rgb(109, 195, 219);
}
.logincontainer{
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(17, 129, 194);
    height: 26rem;
    border-radius: 2rem;
    background: white;
}
.logocontainer{
    width: 24rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fieldcontainer{
    width: 24rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.inputcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
}
img {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}
.logocontainer img {
    flex-shrink: 0;
    min-width: 100%;
    max-width: 100%;
}
.apptitle {
    font-size: 2.75rem;
    font-weight: bolder;
    font-family: 'Trebuchet MS';
    color: rgb(61, 89, 189);
}
input {
    text-align: center;
}
.slogan {
    font-style: italic;
    font-weight: 100;
    font-size: 0.85rem;
    font-family: 'Trebuchet MS';
}
::ng-deep .p-inputtext{
    width: 18rem;
    border: 1px solid rgb(17, 129, 194);
    height: 2rem;
    font-family: 'Trebuchet MS';
}
::ng-deep .p-button {
    width: 7.5rem;
    background: rgb(5, 94, 190);
    font-family: 'Trebuchet MS';
}