<div class="container">
    <div class="logincontainer">
        <div class="logocontainer">
            <img src="logincover.png" alt="login cover">
        </div>
        <div class="fieldcontainer">
            <div class="apptitle">tiketo:></div>
            <div class="inputcontainer">
                <div class="slogan">
                    Login to your ticketing solution
                </div>
                <div>
                    <input type="text" pInputText placeholder="Username">
                </div>
                <div>
                    <input type="password" pInputText placeholder="Password">
                </div>
                <div>
                    <p-button label="Login" />
                </div>
                <div class="slogan">
                    Forgot Password?
                </div>
            </div>
        </div>
    </div>
</div>